<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Restoran Bukaleta</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/Dobrodošli-na-brodu-morske-sidra-zidna-kuka-brod-zidni_pic-7310.jpg"/>
    <link rel="stylesheet" type="text/css" href="/style/restoran.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
  </head>

 <body>
    <section class="header">
        <div class="big-nav">
            <p><b>Restoran Bukaleta &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0c8;</i> Primorska cesta 30, 51512, 
            Njivice &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0b0;</i> +385 847 801</b></p>
        </div>
        <div class="small-nav">
          <p><i><b>Restoran Bukaleta</b></i></p>
        </div>
    </section>  
    <section class="title2">
        <h1><i>Ambijent</i></h1>
        <hr/>
    </section>
    

    <section class="grid-container">
        <figure>
          <img class="grid-item" src="images/2020-10-02.jpg" style="width: 29.1%;cursor:pointer" onclick="onClick(this)">
          <img class="grid-item" src="images/caption 1.jpg" style="width: 27.5%;cursor:pointer" onclick="onClick(this)">
          <img class="grid-item" src="images/caption  9.jpg" style="width: 27.5%;cursor:pointer" onclick="onClick(this)">
        </figure>
    </section>
    <section class="grid-container" style="margin-top: 1%;">
        <figure>           
          <img class="grid-item" src="images/0Y4A4648 (1).jpg" style="width: 31%;cursor:pointer" onclick="onClick(this)">
          <img class="grid-item" src="images/bukaleta_gastronomy-1.jpg" style="width: 27.3%;cursor:pointer" onclick="onClick(this)">
          <img class="grid-item" src="images/caption.jpg" style="width: 29%;cursor:pointer" onclick="onClick(this)">
        </figure>
    </section>

    <div id="myModal" class="modal">
      <span class="close">x</span>
      <img class="modal-content" id="img01">
    </div>


 <script>
   var modal = document.getElementById('myModal');
   function onClick(element) {
     document.getElementById("img01").src = element.src;
     document.getElementById("myModal").style.display = "block";
   } 
        
   var span = document.getElementsByClassName("close")[0];
   span.onclick = function() { 
     modal.style.display = "none";
   }
  </script>
        



</body>
</html>