<!DOCTYPE html>
<html>

<head>
  <title>Restoran Bukaleta</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="images/Dobrodošli-na-brodu-morske-sidra-zidna-kuka-brod-zidni_pic-7310.jpg"/>
  <link rel="stylesheet" type="text/css" href="/style/restoran.css">
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
</head>

<body>
  <section class="header">
    <div class="big-nav">
      <p><b>Restoran Bukaleta &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0c8;</i> Primorska cesta 30, 51512, 
        Njivice &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0b0;</i> +385 847 801</b></p>
      </div>
    <div class="small-nav">
      <p><i><b>Restoran Bukaleta</b></i></p>
    </div>
  </section>  
  <section class="title">
    <span>
      <h1>Restoran Bukaleta 
        <span id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/Onama" style="font-family: cursive;">O nama</a>
          <a href="/restoran" style="font-family: cursive;">Restoran</a>
          <a href="/vjencanja" style="font-family: cursive;">Vjenčanja</a>
          <button class="dropdown-btn"><b>Galerija
            <i class="fa fa-caret-down"></i></b>
          </button>
          <div class="dropdown-container">
            <a href="/hrana" style="font-family: cursive;">Hrana</a>
            <a href="/ambijent" style="font-family: cursive;">Ambijent</a>
          </div>
        </span>
        <span style="font-size:3rem;cursor:pointer; float: right; margin-right: 2rem;" onclick="openNav()">&#9776;</span>
      </h1>
    </span>
  </section>
  <section class="introduction">
    <h1>O nama</h1>
    <figure>
      <img class="img2" src="images/bukaleta-636161838376675921_1600_900.jpeg" style="width: 50%;" />
    </figure>
    <figcaption style="width: 50%; margin-left: 25%;">Restoran Bukaleta 
      smješten je na obali uz samo more u Njivicama, malom mjestu na otoku Krku...
      <a href="/Onama" style="color: blue;">O nama</a></figcaption>
  </section>
  <section class="introduction">
    <h1>Restoran</h1>
    <figure>
      <img class="img2" src="images/bukaleta_gastronomy-3.jpg" style="width: 50%;" />
    </figure>
    <figcaption style="width: 50%; margin-left: 25%;">Restoran u svojoj ponudi ima 
      razna jela koja će zadovoljiti i najzahtjevnija nepca...
      <a href="/restoran" style="color: blue;">Restoran</a></figcaption>
  </section>
  <section class="introduction">
    <h1>Vjenčanja</h1>
    <figure>
      <img class="img2" src="images/r21f-Pizzeria-Bukaleta-design.jpg" style="width: 50%;" />
    </figure>
    <figcaption style="width: 50%; margin-left: 25%;">Ako želite svoj najvažniji dan provesti u miru 
      pored mora, restoran Bukaleta je pravo mjesto za vaše vjenčanje...
      <a href="/vjencanja" style="color: blue;">Vjenčanja</a></figcaption>
  </section>
  <section class="introduction">
    <h1>Galerija</h1>
    <figure>
      <img class="img2" src="images/bukaleta_bukaleta-salata-od-hobotnice1.jpg" style="width: 25%;" />
      <img class="img2" src="images/2020-09-13.jpg" style="width: 28.5%;" /> 
    </figure>
    <figcaption style="width: 50%; margin-left: 25%;">U nastavku možete vidjeti kakva hrana i kakav ambijent Vas očekuju...<br>
      <a href="/hrana" style="color: blue;">Hrana</a>&nbsp;&nbsp; <a href="/ambijent" style="color: blue;">Ambijent</a></figcaption>
  </section>
  <section class="footer">      
    <p><i style="font-size:1.9rem;" class="fa">&#xf1f9;</i>
    &nbsp;&nbsp;Copyright 2022. Restoran Bukaleta</p>
  </section>
    

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
        
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }

  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;
  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
       dropdownContent.style.display = "block";
      }
    });
  }

</script>
</body>
</html>