<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restoran Bukaleta</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/Dobrodošli-na-brodu-morske-sidra-zidna-kuka-brod-zidni_pic-7310.jpg"/>
    <link rel="stylesheet" type="text/css" href="/style/restoran.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/script/validacija.js"></script>
        
    </head>
<body>
  <section class="header">
    <div class="big-nav">
        <p><b>Restoran Bukaleta &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0c8;</i> Primorska cesta 30, 51512, 
        Njivice &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0b0;</i> +385 847 801</b></p>
    </div>
    <div class="small-nav">
      <p><i><b>Restoran Bukaleta</b></i></p>
    </div>
</section>  
    <section class="title2">
        <h1><i>O nama</i></h1>
        <hr/>
    </section>
    <section class="introduction">
      <p><b>Restoran Bukaleta &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0c8;</i> Primorska cesta 30, 51512, 
        Njivice &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0b0;</i> +385 847 801</b></p>
        <figure>
        <img src="images/bukaleta-636161838376675921_1600_900.jpeg" style="width: 50%;" />
        </figure>
        <figcaption style="width: 50%; margin-left: 25%;">Restoran Bukaleta smješten je na obali uz samo more u Njivicama,
            malom mjestu na otoku Krku. Restoran ima panoramsku terasu koja pruža pogled na mirno, plavo more, 
            a u večernjim satima se možete opuštati uz zalazak sunca.<br>
            Osim mirnog opuštanja za vrijeme godišnjeg odmora, Bukaleta nudi i mogućnost održavanja vjenčanja, a 
            više o tome možete pročitati na ostalim našim stranicama.
        </figcaption>
      </section>
      <section>
        <form>
          <fieldset class="query">
            <h1>Ako imate pitanja kontaktirajte nas ili nam pošaljite upit!</h1>
             <label><h1>Ime: </label><br />
              <input class="text" type="text" name="name" id="name" minlength="2" size="30" required></h1>
              <label><h1>Prezime: <br />
              <input class="text" type="text" name="surname"  id="surname" size="30" required></label></h1>
              <label><h1>Email: <br />
              <input class="text" type="text" name="email" id="mail" size="30" required></label></h1>
              <label><h1>Telefon: <br />
              <input class="text" type="text" name="number" id="number" size="30" required></label></h1>
              <label for="comment"><h1>Poruka:</label></h1>
              <textarea style="width: 60%;"
                name="comment"
                id="comment"
                type="text"
                rows="8"
               cols="30"
               required
              ></textarea> <br />
              <input class="button" type="submit"  onclick="myFunction()" value="Pošaljite">
          </fieldset>
        </form>
      </section>
      <section class="footer" style="margin-top: 5rem;">      
        <p><i style="font-size:1.9rem;" class="fa">&#xf1f9;</i>
          &nbsp;&nbsp;Copyright 2022. Restoran Bukaleta</p>
     </section>
    
    
</body>
</html>