<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restoran Bukaleta</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/Dobrodošli-na-brodu-morske-sidra-zidna-kuka-brod-zidni_pic-7310.jpg"/>
    <link rel="stylesheet" type="text/css" href="/style/restoran.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
<body>
  <section class="header">
    <div class="big-nav">
        <p><b>Restoran Bukaleta &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0c8;</i> Primorska cesta 30, 51512, 
        Njivice &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0b0;</i> +385 847 801</b></p>
    </div>
    <div class="small-nav">
      <p><i><b>Restoran Bukaleta</b></i></p>
    </div>
</section>  
<section class="title2">
    <h1><i>Restoran</i></h1>
    <hr/>
</section>
<section class="introduction">
    <figure>
        <img src="images/bukaleta_gastronomy-3.jpg" style="width: 50%;" />
        </figure>
        <figcaption style="width: 50%; margin-left: 25%;">
            Restoran u svojoj ponudi ima razna jela koja će zadovoljiti i najzahtjevnija nepca. Jela s grilla, 
            pizze iz krušne peći, steakovi, janjeći kotleti, obročne salate, tjestenine i deserti. Jelo možete
            pojesti u restoranu, naručiti za van ili naručiti našu dostavu. Kako bi vam olakšali odabir,
            u nastavku smo pripremili jelovnik za Vas.
        </figcaption>
</section>

<h1 style="text-align: center; margin-top: 5rem; font-size: 3rem;">Jelovnik</h1>
<section class="menu2">
    <h1 style="margin-left: 35%;">Hladna predjela</h1>
    <ul> 
        <li>Primorski pjat</li>
        <li>Caprese</li>
        <li>Grčka salata</li>
        <li>Steak salad</li>
        <li>Salata od hobotnice</li>
        <li>Cesar salata</li>
    </ul>
</section>
<section class="menu2">
    <h1 style="margin-left: 35%;">Topla predjela</h1>
    <ul>
        <li>Špageti na bolonjski način</li>
        <li>Njoki s umakom od 4 sira</li>
        <li>Mozzarella panirani štapići</li>
        <li>Tjestenina s rajčicom</li>
        <li>Špageti s plodovima mora</li>
    </ul>
</section>
<section class="menu2">
    <h1 style="margin-left: 35%;">Riblja jela</h1>
    <ul>
        <li>Lignje sa žara</li>
        <li>Lignje pržene</li>
        <li>Filet brancina s ljetnim povrćem</li>
    </ul>
</section>
<section class="menu2">
    <h1 style="margin-left: 35%;">Mesna jela</h1>
    <ul>
        <li>Čevapčići</li>
        <li>Pileći odrezak na žaru</li>
    </ul>
</section>
<section class="menu2">
    <h1 style="margin-left: 35%;">Mesna jela</h1>
    <ul>
        <li>Čevapčići</li>
        <li>Pileći odrezak na žaru</li>
    </ul>
</section>
<section class="menu2">
    <h1 style="margin-left: 35%;">Burger</h1>
    <ul>
        <li>Hamburger</li>
        <li>Bacon burger</li>
        <li>Cheeseburger</li>
        <li>Cheeseburger premium</li>
        <li>Premium gourmet burger</li>
    </ul>
</section>
<section class="menu2">
    <h1 style="margin-left: 35%;">Salate i prilozi</h1>
    <ul>
        <li>Prženi krumpir</li>
        <li>Sezonska salata</li>
        <li>Blitva na maslinovu ulju</li>
    </ul>
</section>
<section class="menu2">
    <h1 style="margin-left: 35%;">Pizza</h1>
    <ul>
        <li>Margherita</li>
        <li>Capricciosa</li>
        <li>Salami</li>
        <li>Vegetariana</li>
        <li>Calzone</li>
        <li>Vesuvio</li>
        <li>Santa Lucia</li>
        <li>Istriana</li>
        <li>Tonno</li>
        <li>Frutti di mare</li>
        <li>Quattro formaggi</li>
        <li>Bukaleta</li>
        <li>Pizza kruh</li>
    </ul>
</section>
<section class="menu2" style="border-color: white;">
    <h1 style="margin-left: 35%;">Slastice</h1>
    <ul>
        <li>Palačinke po izboru</li>
        <li>Kuglica sladoleda</li>
        <li>Domaća štrudla</li>
    </ul>
</section>
<section class="footerFood" style="margin-top: 4rem;">
    <h1><i>Dobar tek!</i></h1>
 </section>
<section class="footer">      
    <p><i style="font-size:1.9rem;" class="fa">&#xf1f9;</i>
     &nbsp;&nbsp;Copyright 2022. Restoran Bukaleta</p>
</section>
        
</body>
</html>