<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restoran Bukaleta</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/Dobrodošli-na-brodu-morske-sidra-zidna-kuka-brod-zidni_pic-7310.jpg"/>
    <link rel="stylesheet" type="text/css" href="/style/restoran.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
<body>
  <section class="header">
    <div class="big-nav">
        <p><b>Restoran Bukaleta &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0c8;</i> Primorska cesta 30, 51512, 
        Njivice &nbsp;&nbsp;&nbsp;<i class="material-icons">&#xe0b0;</i> +385 847 801</b></p>
    </div>
    <div class="small-nav">
      <p><i><b>Restoran Bukaleta</b></i></p>
    </div>
</section>  
<section class="title2">
    <h1 style="font-family: segoe script; font-size: 3.5rem;"><i>Vjenčanja</i></h1>
    <hr/>
</section>
<section class="introduction">
    <figure>
        <img src="images/r21f-Pizzeria-Bukaleta-design.jpg" style="width: 50%;" />
        </figure>
        <figcaption style="width: 50%; margin-left: 25%;">
            Ako želite svoj najvažniji dan provesti u miru pored mora, restoran Bukaleta je pravo mjesto 
            za vaše vjenčanje. Osim opuštajućeg ambijenta, nudimo švedski stol ili menu po Vašem izboru te
            uređenje prostora. <br>
            Za više informacija nas kontaktirajte ili posjetite.
        </figcaption>
</section>
<section class="footerFood">
    <h1><i>Sretno!</i></h1>
 </section>

<section class="footer">      
    <p><i style="font-size:1.9rem;" class="fa">&#xf1f9;</i>
     &nbsp;&nbsp;Copyright 2022. Restoran Bukaleta</p>
</section>
        
</body>
</html>