body {
  margin: 0;
  padding: 0;
}


.header {
  background-color: rgb(163, 156, 232);
  position: absolute;
  width: 100%;
  top: 0;
  height: 5rem; 
  text-align: center;   
  font-size: x-large;
}


.small-nav {
  display: none;
  position: absolute;
  text-align: center;
}

.big-nav {
  position: absolute;
  width: 100%;
  
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
   

@media only screen and (max-width: 850px) {
  .small-nav {
    display: contents;
    position: absolute;
    font-size: x-large;
    text-align: center;
  }

  .big-nav {
    display: none;
  }
}


.title {
  margin-top: 5rem;
  position: relative;
  border: 0.2rem solid;
  border-color: white white blue white;
  height: 7rem;
  text-align: center;
  padding-top: 0rem;
  font-size: xx-large;
  font-family: 'brush script MT';
  color: blue;
  width: 80%;
  margin-left: 10%;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(53, 10, 244);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5rem;

}

.sidenav a {
  padding: 0.8rem 0.8rem 0.8rem 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #b7adad;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 700px) {
  .sidenav {padding-top: 15px;}
  .sidenav a, .dropdown-btn b {font-size: 1.3rem;}
}

.dropdown-container {
  display: none;
  background-color: #4809e77f;
  padding-left: 0.5rem;
}

.fa-caret-down {
  padding-right: 1rem;
  font-size: larger;
  color: #b7adad;
}

.dropdown-btn {
  padding: 0.8rem 0.8rem 0.8rem 2.8rem;
  font-size: 1.5rem;
  color: #b7adad;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  font-family: cursive; 
  font-size: x-large;
  cursor: pointer;
  outline: none;
}

.introduction {
  text-align: center;
  padding-top: 1rem;
  font-size: x-large;
}


.img2:hover {
  transform: scale(1.15);
  transition: 2s ease;
}

.footer {
  background-color: rgb(163, 156, 232);
  position: absolute;
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  text-align: center;
  font-size: x-large;
}

.title2 {
  margin-top: 8rem;
  text-align: center;
  font-family: 'brush script MT';
  font-size: 3rem;
  color: blue;
}

hr {
  width: 80%;
  color: blue;
  height: 0.2rem;
  background-color: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 5%;
  margin-top: 5%;
}

.grid-item {
  margin-left: 2%;
}

.grid-item:hover {
  opacity: 0.7;
}

.footerFood {
  text-align: center;
  font-family: 'brush script MT';
  color: blue;
  font-size: xx-large;
}

.query {
  border: 0.2rem solid white;
  background-color: rgb(132, 184, 219);
  margin-top: 5%;
  margin-left: 25%;
  text-align: center;
  width: 50%;
  
}

.text {
  height: 2rem;
  width: 60%;
  margin-top: 2%;
  font-size: large;
}

.button {
  font-size: large;
  margin-top: 5%;
  width: 30%;
  height: 2rem;
}

.menu {
  margin-top: 4rem;
  font-size: x-large;
  margin-left: 43%;
}


ul {
  list-style: none;
  
}

ul li::before {
  content: "\2022";  
  color: blue; 
  display: inline-block; 
  width: 1em; 
  margin-left: -4%;
}

li {
  margin-left: 35%;
}


.menu2 {
  border: 0.2rem solid;
  border-color: white white blue white;
  width: 50%;
  margin-left: 25%;
  font-size: x-large;  
}

.title3 {
  margin-top: 10rem;
  position: relative;
  border: 0.2rem solid;
  width: 80%;
  margin-left: 10%;
  border-color: white white blue white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  color: blue;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


.modal-content {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 700px){
  .modal-content {
    width: 90%;
  }
}
